<html>
 <head><title>Welcome to Rock, Paper & Scissors Game!</title>
   <h1 style="color:white;">"Welcome Player_1!"</h1>
 </head>

<body bgcolor=#000000 style="text-align:center;">

  <table width="25%" align="center">
    <tr>
      <td width="50%" style="color:white;">Select your opponent</td>
      <td width="50%">
        <form action="/human" method="get">
          <p>
          <input type="submit" value="Human">
        </form>
      </td>
      <td width="50%">
        <form action="/computer" method="get">
          <p><input type="submit" value="Computer">
        </form>
      </td>
    </tr>
  </table>

</html>
